  
                          <label>Select Availability Date</label>
                          
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input type="text" id="from">
                    <label> TO  </label> 
                    <input type="text" id="to">
                  </div>